<!DOCTYPE html>
<html>
<head>
    <title>Daily Stats Email</title>
</head>
<body>

    <h2>Tag Statistics</h2>
    <table>
        <thead>
            <tr>
                <th>Tag</th>
                <th>Message Count</th>
            </tr>
        </thead>
        <tbody>
            {% for tag_stat in tag_stats %}
            <tr>
                <td>{{ tag_stat.tag }}</td>
                <td>{{ tag_stat.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Mobile Operator Statistics</h2>
    <table>
        <thead>
            <tr>
                <th>Mobile Operator Code</th>
                <th>Message Count</th>
            </tr>
        </thead>
        <tbody>
            {% for operator_stat in operator_stats %}
            <tr>
                <td>{{ operator_stat.mobile_operator_code }}</td>
                <td>{{ operator_stat.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Additional Data</h2>
    <ul>
        {% for key, value in additional_data.items %}
        <li><strong>{{ key }}:</strong> {{ value }}</li>
        {% endfor %}
    </ul>
</body>
</html>
